[Unit]
Description=NRTS Service
After=network.target

[Service]
Type=simple
User=nrts
Group=nrts
ExecStart=/home/nrts/etc/init.d/nrts start
RemainAfterExit=True

[Install]
WantedBy=multi-user.target
